<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Soothe Your Soul
            <br/>
            With Therapeutic Drumming
        </h2>
        <p>
            Improve your mental health, increase your resilience, connect with your community and have fun with Eleven Drums!
        </p>
        <div class="cs-flex-group" style="padding-top: 5%">
            <a href="/about" class="cs-button-solid" style="margin-right: 5%;">
                <span class="cs-button-inner"></span>
                <img class="cs-button-solid-img" src="/assets/images/find.png">
                <p class="cs-button-solid-title" style="color: black; width: auto; margin: 5% 5%";>Explore <br>More</p>
            </a>
            <a href="/contact" class="cs-button-solid">
                <span class="cs-button-inner"></span>
                <img class="cs-button-solid-img" src="/assets/images/letter.png">
                <p class="cs-button-solid-title" style="color: black; width: auto; margin: 5% 5%";>Get in <br> Touch</p>
            </a>
        </div>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/sky1.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/sky1.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/sky1.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>
