---
title: 'About | Eleven Drums Theraputic Drumming'
description: 'I am a mental health expert specialising in therapeutic drumming in the Lochyer area.'
preloadImg: '/assets/images/roughlogo.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Me
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Me</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/sky3.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/sky3.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/sky3.jpg" alt="peaceful sunset" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/von.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/von.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/von.jpg" alt="portait image of Von" loading="lazy" width="400" height="563">
                </picture>
                
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Me</span>
                <h2 class="cs-title">Meet Von</h2>
                <p class="cs-text">
                    Hi, my name is Von, I am trained in the Drumbeat, Drum Circle and Rhythm 2 Recovery programs. I was honoured to participate in Drum Circle Facilitator training with Arthur Hull.
                <br/>
                <br/>
                    I have worked in the mental health field for over 20 years. I have the passion and drive to support participants through drumming and storytelling in a safe environment.  
                <br/>
                <br/>
                    I started Eleven Drums in 2024 because I wanted to combine my passion for drumming and for mental health into a role that could really make a difference in the lives of the people in my community.
                    This adventure is fuelled by my own blood, sweat and tears. 
                    </p>

            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <div class="cs-container">
            <h3 class="cs-title">My Core Values</h3>
            <div class="cs-container" style="display:flex; flex-wrap: wrap; justify-content:space-evenly;">
                <div class="card">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/hands.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/hands.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/hands.jpg" alt="three hands joined together" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Respect</h2>
                    <p>Respect comes in many forms - for self, for others and for country. It is through respect that we learn and share with others.</p>
                </div>
                <div class="card">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/tent.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/tent.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/tent.jpg" alt="peaceful tent" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Welcoming</h2>
                    <p>Holding space so that others can feel their feelings, be hard, express themselves and ask for help.</p>
                </div>
                <div class="card">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/bowl.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/bowl.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/bowl.jpg" alt="healing bowl" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Authenticity</h2>
                    <p>Sometimes it's difficult to hear the truth, so being authentic in a respectful manner is key to the success of the group and the learning process.</p>
                </div>
    </section>

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/dr8.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/dr8.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/dr8.jpg" alt="traditional drums" loading="lazy" width="400" height="560">
                </picture>

            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Our Origins</span>
                <h2 class="cs-title">Why "Eleven" drums? </h2>
                <p class="cs-text">
                    The name "Eleven Drums" is a reference to my drum collection, which I have accumulated over the past decade. I share these drums with our drumming groups so that everyone can
                    participate in this wonderful experience. 
                    <br><br>
                    This also means we facilitate for up to ten people in one session, which produces tight-nit intimate groups to share our expereinces. 
                    <br><br>
                    The colors blue and green are also calming and associated with mindfullness and mental health. They are also the color scheme of my drums. 
                </p>
                <p class="cs-text">
                </p>
                
                <a href="/workshops" class="cs-button-solid">
                    <span class="cs-button-inner"></span>
                    <img class="cs-button-solid-img" src="/assets/images/music.png">
                    <p class="cs-button-solid-title" style="margin: 20%;">Workshops</p>
                </a>

            </div>
        </div>
    </section>


    {% include 'components/cta.html' %}

{% endblock %}
