---
title: 'About | Eleven Drums Theraputic Drumming'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Me
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Me</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/sky3.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/sky3.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/sky3.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/von.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/von.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/von.jpg" alt="Von" loading="lazy" width="400" height="563">
                </picture>
                
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Me</span>
                <h2 class="cs-title">Meet Von</h2>
                <p class="cs-text">
                    Von is trained in the Drumbeat, Drum Circle and Rhythm 2 Recovery programs. She was honoured to participate in Drum Circle Facilitator training with Arthur Hull.
                <br/>
                <br/>
                    Von has worked in the mental health field for over 20 years. She has the passion and drive to support participants through drumming and storytelling in a safe environment.  
                </p>
                <a href="/workshops" class="cs-button-solid">
                    <span class="cs-button-inner"></span>
                    <p class="cs-button-solid" style="background:transparent; margin:5%;">View Workshops</p>
                </a>
            </div>
        </div>
    </section>

        <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
                <div class="card">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/dr1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/dr1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/dr1.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Respect</h2>
                    <p>Respect comes in many forms - for self, for others and for country. It is through respect that we learn and share with others.</p>
                </div>
                <div class="card">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/dr4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/dr4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/dr4.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Welcoming</h2>
                    <p>Holding space so that others can feel their feelings, be hard, express themselves and ask for help.</p>
                </div>
                <div class="card">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/dr3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/dr3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/dr3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Authenticity</h2>
                    <p>Sometimes it's difficult to hear the truth, so being authentic in a respectful manner is key to the success of the group and the learning process.</p>
                </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}
