---
title: 'Workshops | Eleven Drums Theraputic Drumming'
description: 'Eleven Drums offers a number of different therapeutic services'
preloadImg: '/assets/images/roughlogo.jpg'
permalink: 'workshops/'
eleventyNavigation:
    key: Workshops
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css"/>
<link rel="stylesheet" href="/assets/css/critical.css"/>

{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Workshops</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/sky1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/sky1.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/sky1.jpg" alt="Ipswich Sky" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/dr2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/dr2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/dr2.jpg" alt="drumming circle" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Rhythm of the Soul</span>
                <h2 class="cs-title">Theraputic Drumming Groups</h2>
                <p class="cs-text">
                    Eleven Drums focuses on group drumming sessions of up to ten people. This creates intimate, close-knit groups that faciliate inclusion, connection and belonging.    
                    <br><br>
                    Group therapy has the benefit of providing high quality interactions, at a fraction of the cost of one on one therapy.
                    <br><br>
                    <b style=" color: var(--primary)">All equipment is provided</b> - we use my very own collection of traditional drums to facilitate our growth as a community. 
                </p>
            </div>
        </div>
    </section>

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/dr5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/dr5.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/dr5.jpg" alt="drumming circle" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Something for Everyone</span>
                <h2 class="cs-title">Safe Spaces for All</h2>
                <p class="cs-text">
                    Each session is tailored to the participants who show up, with a core theme of connection, inclusion, self-care and learning who you are.
                    <br><br>
                    I offer a number of different groups to provide spaces where everyone feels safe to be themselves. 
                    <br>
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->


    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="cs-container">
            <h2 class="cs-title" style="animation: none;">Available Groups</h2>
            <div class="cs-container" style="display:flex; flex-wrap: wrap; justify-content:space-evenly;">
                <div class="card" style="width:auto;">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/businesswoman.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/businesswoman.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/businesswoman.png" alt="women's group" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Womens Groups</h2>
                </div>
                <div class="card" style="width:auto;">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/man.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/man.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/man.png" alt="men's group" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Mens Groups</h2>
                </div>
                <div class="card" style="width:auto;">
                    <a href="https://www.flaticon.com/free-icons/human" title="human icons">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/human.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/human.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/human.png" alt="group" loading="lazy" width="400" height="560">
                        
                    </picture>
                </a>
                    <h2>Mixed Groups</h2>
                </div>
                <div class="card" style="width:auto;">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/couple.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/couple.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/couple.png" alt="seniors group" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Seniors Groups</h2>
                </div>
                <div class="card" style="width:auto;">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/hip-hop.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/hip-hop.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/hip-hop.png" alt="teen's group" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Adolescents Groupss</h2>
                </div>
                <div class="card" style="width:auto;">
                    <picture>
                        <source media="(max-width: 600px)" srcset="/assets/images/management.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/management.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/management.png" alt="corporate group" loading="lazy" width="400" height="560">
                    </picture>
                    <h2>Workplace Development</h2>
                </div>
            </div>
        </div>
    </section>


    {% include 'components/cta.html' %}

{% endblock %}
